# IDEs and OS
.idea/
.vscode/
.DS_Store
*.swp
*.swo

# Project specific
node_modules/
dist/
build/
bin/
pkg/

# Go
apps/auth-service/server
apps/financial-service/server
*.exe
*.bin.test
!Dockerfile.test
*.prof
coverage.out
*.out

# Environment files
.env
.env.*
!.env.example

# Docker
.docker/

# Logs
*.log

# Dependencies
vendor/

# Test results
test-results/
*.test-results.json
